#typeout {
  box-sizing: border-box;
  width: 100%;
  color: #3e3e3e;
  text-align: left;
  font-family: monospace;
  font-size: 28px;
  margin-bottom: 10px;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
